<!DOCTYPE html>
<html>
<title>Purple Plate Cakeshoppe</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amatic+SC">
<style>
body, html {height: 100%}
body,h1,h2,h3,h4,h5,h6 {font-family: "Constantia", sans-serif;}
.menu {display: none}
.bgimg {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("cupcakes.png");
    min-height: 90%;
}
</style>
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top w3-hide-small">
  <div class="w3-bar w3-xlarge w3-black w3-opacity w3-hover-opacity-off" id="myNavbar">
    <a href="#" class="w3-bar-item w3-button">HOME</a>
    <a href="menu.html" class="w3-bar-item w3-button">MENU</a>
    <a href="cart.html" class="w3-bar-item w3-button">CART</a>
  </div>
</div>

<!-- Header with image -->
<header class="bgimg w3-display-container w3-grayscale-min" id="home">
  <div class="w3-display-bottomleft w3-padding">
    <span class="w3-tag w3-xlarge">Open from 6am to 9pm</span>
  </div>
  <div class="w3-display-middle w3-center">
    <span class="w3-tag w3-xlarge">Purple Plate Cakeshoppe</span>
    </div>
</header>
<!-- About Container -->
<div class="w3-container w3-padding-64 w3-red w3-grayscale w3-xlarge" id="about">
  <div class="w3-content">
    <h1 class="w3-center w3-jumbo" style="margin-bottom:64px">About Us</h1>
      <p>Purple Plate is located in Iligan City. It serves baked products such as breads, cakes and pastries.
          It also serves lunch and snacks daily. It is known best for it's moist chocolate cake. A chocolate cake with custard filling and chocolate frosting.
          It melts in your tongue and a real knock out. It is also offering fondant cakes for your special occasions. Visit or call us for inquiries.</p>
    <h1><b>Opening Hours</b></h1>

    <div class="w3-row">
      <div class="w3-col s6">
        <p>Mon to Sat: 6:00am - 9:00pm</p>
      </div>
      <div class="w3-col s6">
        <p>Sunday: 6:00am-6:00pm</p>
      </div>
    </div>

  </div>
</div>


<div class="w3-container w3-padding-64 w3-blue-grey w3-grayscale-min w3-xlarge">
  <div class="w3-content">
    <h1 class="w3-center w3-jumbo" style="margin-bottom:64px">Contact</h1>
    <p>Find us at Tubod Rosario Heights at Iligan City or call us at (063) 223-9929</p>
    <p><span class="w3-tag">FYI!</span> We offer full-service catering for any event, large or small. We understand your needs and we will cater the food to satisfy the biggest criteria of them all, both look and taste.
    We also accept customized fondant cakes!</p>
  </div>
</div>

    <script src="jQuery-2.1.4.min.js"></script>
    <script src="app.js"></script>
<script>

// Tabbed Menu
function openMenu(evt, menuName) {
  var i, x, tablinks;
  x = document.getElementsByClassName("menu");
  for (i = 0; i < x.length; i++) {
     x[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablink");
  for (i = 0; i < x.length; i++) {
     tablinks[i].className = tablinks[i].className.replace(" w3-red", "");
  }
  document.getElementById(menuName).style.display = "block";
  evt.currentTarget.firstElementChild.className += " w3-red";
}
</script>
</body>
</html>
